	.feedback {
	padding-top: 56px;
	height: 384px;

	&__container {
		position: relative;
		height: 100%;
	}

	&__title {
		@include text (32px, 300, $color4);
		margin-bottom: 32px;
	}

	&__options {
		@include flexbox (flex-start, $n);
		margin-top: 22.7%;
		margin-bottom: 56px;
	}

	&__button--green{
		color: $color3;
		background-color: $color2;
		margin-right: 32px;	

		&:hover {
			background-color: $color6;
		}
	}

	&__button--gray{
		color: $color1;
		border: 1px solid $color1;

		&:hover {
			background-color: $color7;
		}
	}
}