.header {
	@include text (12px, 300, $color3)
	height: 50px;
	background-color: $color1;

}

@media screen and (max-width: 960px) {
	.header {
		height: 40px;
		font-size: 10px;
	}
}




@media screen and (max-width: 960px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){

}