.main-page {
	background: url("../../img/1st-screen-1920x1080-dark.jpg") no-repeat center center;
	background-position-y: -50px;
	height: 670px;
	position: relative;

	&__arrow {
		position: absolute;
		left: 53px;
    	bottom: 178px;
	}
}


