/* --------------------- COLORS ------------------- */

$color1: #333333;
$color2: #4cb050;
$color3: #fff;
$color4: #008e70;
$color5: #f2f2f2;
$color6: #8cc63f;
$color7: #e6e6e6;

/* ------------------ FONT FAMILIES ----------------*/

$mainFont: 'PT Sans', sans-serif;
$n: none;